.todo-list {

    --primary-color: #646cff;
    --border-color-thick: #adadad;
    --border-color: #e5e5e5;

    width: 900px;
    padding: 2rem;
    font-size: 16px;

    &, * {
        box-sizing: border-box !important;
    }

    h1 {
        margin-bottom: 60px;
    }

    h1,
    .todo-input-wrap  {
        text-align: center;
    }

    .todo-input-wrap {
        height: 34px;
        margin-bottom: 10px;
    }

    .todo-done {
        text-decoration: line-through;
    }

    p {
        margin: 0;
    }
    
    ul,li {
        padding: 0;
        list-style: none;
    }

    ul > li {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 8px;
    }

    input, button, select {
        cursor: pointer;
        transition: border-color 0.25s;
        &:hover {
            border-color: var(--primary-color) !important;
        }
    }

    input, button {
        padding: 0;
    }

    input, select {
        border-radius: 5px;
        border: 1px solid var(--border-color);
    }

    select {
        -webkit-appearance: none; /* For Safari */
        -moz-appearance: none; /* For Firefox */
        appearance: none;
        width: 120px;
        height: 38px;
        padding: 0 8px;
        margin-bottom: 30px;
        background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        background-position: right 0.7rem top 50%;
        background-size: 0.65rem auto;
    }

    button {
        border-color: var(--border-color);
    }

    input[type=text] {
        height: 34px;
        padding: 0 8px;
        font-size: 16px;
    }

    .edit-todo-input {
        display: block;
        width: 154px;
    }

    input[type=checkbox] {
        appearance: none;
        width: 18px;
        height: 18px;
        background-color: #FFF;
        border-radius: 4px;
        cursor: pointer;
        vertical-align: middle;
    }

    input[type=checkbox]:checked::after {
        content:"";
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 2px;
        background-color:var(--primary-color);
        border-radius: 3px;
    }

    .add-btn{
        width: 60px;
        height: 100%;
        margin-left: 10px;
    }

    .edit-btn, .delete-btn {
        width: 50px;
        height: 30px;
        border-radius: 5px;
    }

    .btn-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }

    // full calendar
    .fc {
        .fc-toolbar-title {
            margin: 0 2rem;
        }

        .fc-button {
            border-radius: 10px;
        }

        .fc-popover {
            max-width: 100%;
        }

        .fc-popover-body{
            display: flex;
            flex-direction: column;
            gap: 10px;
            min-width: 250px;
        }

        .fc-event {
            padding:10px;
            border-radius: 10px;
            border: 1px solid var(--border-color);
            background-color: #FFF;

            &:hover {
                border-style:dashed;
            }

            li {
                width: 100%;
            }

            .checkbox-wrap {
                text-align: center;

                & > *:nth-child(2) {
                    margin-right: 8px;
                }
            }

            input[type=checkbox] {
                border-color: #adadad;

                &+span {
                    margin-left: 4px;
                    vertical-align: middle;
                }
            }

            p {
                margin: 10px 0;
                line-height: normal;
                text-align: center;
            }
        }

        .fc-h-event, .fc-v-event {
            background-color: var(--primary-color);
        }
    }

}

